body{
	margin:0;
	padding:0;
	background:#1a1a1a url(img/stressed_linen.png);
	color:#e6e6e6;
	font-family:Raleway, Helvetica, Arial, sans-serif;
	font-size:100%;
	overflow:hidden;
	top:0;
}
h1{ color:#FC0; }
h1#logo{
	position:absolute;
	top:20px;
	left:30px;
	font-size:220%;
}
h1 small{
	color:#CCC;
	font-size:40%;
	display:block;
	text-align:right;
}
#github{
	position:absolute;
	bottom:10px;
	left:10px;
	z-index:1;	
}
#github a{ color:#999; text-decoration:none; text-shadow:#000 0 1px }
#github a:hover{ color:#FFF; }
#overlay{
	background:rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:9998;
	display:none;
}
.overlayMenu{
	position:absolute;
	top:100px;
	left:0;
	z-index:9999;
	display:none;
	text-align:center;
	width:100%;
	color:#FFF;
}
.overlayMenu ul{
	list-style:none;
	margin:0 auto;
	padding:0;
	padding-left:15px;
	width:890px;
	text-align:left;
}
.overlayMenu ul li{
	display:inline-block;
	margin-right:15px;
	margin-bottom:15px;	
}
.overlayMenu ul li a{
	display:block;
	width:200px;
	height:150px;
	border:#FFF solid 1px;
	padding:1px;
	overflow:hidden;
	background-size:cover;	
	background-repeat: no-repeat;
	box-shadow:#000 0 0 30px 0;
}
.gui{
	position:absolute;
	top:0;
	right:0;
	color:#FFF;
	padding:0;
	font-size:80%;
	z-index:99;
}
.gui .block{
	display:block;
	width:270px;
	background:rgba(0,0,0,0.7);
	float:left;
	border-bottom:#000 solid 2px;
	box-shadow:#333 0 0 10px 0px;
}
h1, h2, h3{
	font-weight:100;
	margin:0;
	padding:6px 10px;
}
.gui h2{
	color:#FC0;
	background:#111;
	border-top:#333 solid 1px;
	border-bottom:#333 solid 1px;	
}
.gui h3{
	background:#111;
	border-top:#000 solid 1px;
	border-bottom:#000 solid 1px;	
	cursor:pointer;
}
.gui h3:hover{
	background:#000;
}
.gui ul{
	list-style:none;
	margin:0;
	padding:0;
	overflow:auto;
	max-height:300px;
}
.gui ul li a{
	padding:5px 6px;
	display:block;
	color:#ccc;
	text-decoration:none;
	background:rgba(20,20,20,0.8);
	border-bottom:transparent 1px solid;
	border-left:#2FA1D6 solid 3px;
	margin-left:3px;
	border-bottom: 1px solid #2C2C2C;
	position:relative;
}
.gui ul li a span{
	position:absolute;
	top:4px;
	right:10px;
	display:none;
}
.gui ul li a:hover span{
	display:block;
}
.gui ul li a i:hover{
	color:#F00 !important;	
}
.gui ul li a:hover{
	background:rgba(0,0,0,0.8);
	margin-left:5px;
	color:#FFF;
}
.gui ul li a:hover i{
	color:#FC0;
}
.scrollbars ::-webkit-scrollbar{
width: 15px;
height: 15px;
}
.scrollbars ::-webkit-scrollbar-button:start:decrement, .scrollbars ::-webkit-scrollbar-button:end:increment {
	height: 1px;
	display: block;
	background-color: transparent;
}
.scrollbars ::-webkit-scrollbar-button:horizontal:start:decrement, .scrollbars ::-webkit-scrollbar-button:horizontal:end:increment {
	height: 1px;
	display: block;
	background-color: #EFF7FF;
}
.scrollbars ::-webkit-scrollbar-track-piece {
	background-color: transparent;
}
.scrollbars ::-webkit-scrollbar-thumb:vertical,.scrollbars ::-webkit-scrollbar-thumb:horizontal{
	background-color: #333;
	border:none;
}
.scrollbars ::-webkit-scrollbar-thumb:vertical:hover,.scrollbars ::-webkit-scrollbar-thumb:horizontal:hover{
	background:#555;
}
.picker{
	border:#000 solid 1px;
	width:14px;
	height:14px;
	display:inline-block;
	vertical-align:middle;
	margin-bottom:1px;
	margin-right:3px;
}
.picker:hover{
	border:#000 solid 1px;
	outline:#FFF solid 1px;	
}
/* -------- WINDOW SYSTEM -------- */
.window{
	position:absolute;
	top:100px;
	left:400px;
	background:#999;
	border:#000 solid 2px;
	z-index:1;
	padding-top:30px;
	/*box-shadow:#000 0 0 10px 0px;*/
	height:400px;
	width:500px;
	overflow:hidden;
	/* Fixing antialiasing problem */
	outline: 5px solid transparent;
}
.tool{
	text-align:center;
	border-bottom:#444 solid 1px;
	border-top:#ccc solid 1px;
	list-style:none;
	padding:0;
	margin:0;
}
.tool li{
	display:inline-block;
	width:38px;
}
.tool a{
	color:#333;
	text-decoration:none;
	display:inline-block;
	width:100%;
	padding:4px 0;
}
.tool a:hover{
	background:#CCC;	
}
.box{
	overflow:auto;
	height:100%;
	width:100%;
}
.box canvas{
	position:relative;
	left:50%;
	top:50%;
	/* Margins must be set to half w and h */
	margin:-200px 0 0 -250px;
	box-shadow:#555 0 0 10px 0px;
}
.topInfo{
	position:absolute;
	color:#CCC;
	top:0;
	left:0;
	background:#111;
	border-bottom:#000 solid 2px;
	border-top:#222 solid 1px;
	width:100%;
	font-size:12px;
	cursor:move;
}
.file .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.3);
	border:#CCC inset 1px;
	z-index:2;
}
.active .overlay{
	display:none;
}
.file .status{
	position:absolute;
	bottom:0;
	left:0;
	background:#FFC;
	color:#888;
	display:none;
	font-size:11px;
	z-index:1;
	padding:2px 5px;
	border-top:#BBB solid 1px;
	border-right:#BBB solid 1px;
	min-width:30%;
	max-width:50%;
}
.filename{
	padding:6px 10px;	
}
.fileops{
	padding:8px 0;
	position:absolute;
	right:10px;	
	top:0;
}
.fileops a{
	color:#666;
	text-decoration:none;
}
.fileops a:hover{
	color:#C00;	
}
.colorpicker, .colorpicker * {
    z-index: 999;
}