<div class="modal-header">
  <h3 class="modal-title"><i class="fa fa-briefcase"></i> Photo Gallery</h3>
</div>
<div class="modal-body">
  <p>Pick the photo you would like to edit</p>
  <ul id="photoList">
    <li>
      <a href="#changePic" rel="1.jpg" style="background-image:url(img/editor/1.jpg)"></a>
    </li>
    <li>
      <a href="#changePic" rel="2.png" style="background-image:url(img/editor/2.png); background-position:-23px;"></a>
    </li>
    <li>
      <a href="#changePic" rel="3.jpg" style="background-image:url(img/editor/3.jpg);"></a>
    </li>
    <li>
      <a href="#changePic" rel="4.jpg" style="background-image:url(img/editor/4.jpg);"></a>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
